$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;

.TodosContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  margin-top: 15px;
  border: black;
  border-style: solid;
}
.each-todo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
  border: #867a7a;
  border-style: solid;
  flex-direction: row;
  flex-wrap: wrap;
}

.each-todo input {
  position: relative;
  left: 2%;
}

.each-todo label {
  position: relative;
  left: 8%;
}
.add-todo div {
  position: relative;
  left: 2%;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: row;
  align-items: center;
}

.add-todo div p {
  position: relative;
  left: 8%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em 0;
}

.add-icon {
  width: 27px;
}
